body {
	font-family: 'Montserrat', sans-serif;
}

header{
	background: url("bg.jpg");
	padding: 1px 0;
	border: 2px solid #000000;
	border-color: #B8860B;
}

.caixa{
	position: relative;
	width: auto;
	margin: 0 auto;
	}

nav {
	position: absolute;
	top: 110px;
	right: 10px;
}

nav li {
	display: inline;
	margin: 0 0 0 18px;
}

nav a {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover {
	color: #B8860B;
	text-decoration: underline;
}

.produtos{
	width: 65rem;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 3px solid #000000;
	border-radius: 20px;
	box-shadow: 10px 10px 15px 0 #B8860B;
}

.produtos li:hover {
	border-color: #D3D3D3;
}

.produtos li:active {
	border-color: #B8860B;
}

.produtos li:hover h2 {
	font-size: 35px;
}

.produtos h2 {
	font-size: 25px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	Text-align: center;
	color: #FFFFFF;
	background: url("bg.jpg");
	padding: 30px 0;
	border: 2px solid #000000;
	border-color: #B8860B;
}

.copyright {
	color: #FFFFFF;
	font-size: 9px;
	margin: 20px 0 0;
}

main {
	width: 100%;
	margin: 0 auto;
}

form {
	margin: 40px 65px;
}

form label, form legend {
	display:block;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 5px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 25px 0;
}

.enviar {
	width: 20%;
	padding: 12px 0;
	background: url("logo-enviar.png");
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	border: 1px solid #000000;
	border-radius: 15px;
	border-color: #B8860B
}

.enviar:hover {
	border: 1px solid #000000;
	transition: 0.5s all;
	cursor: pointer;
	transform: scale(1.1);
}

table {
	margin: 20px 65px 40px;
}

thead {
	background: url("bg.jpg");
	color: white;
	font-weight: bold	
}

td, th {
	border: 1px solid #B8860B;
	padding: 8px 15px;
}

/* Css da página inicial */
.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
	text-shadow: 2px 2px #B8860B;
}

.principal {
	padding: 3m 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 150px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa {
	padding: 4em 0;
	background: linear-gradient(#D3D3D3,#808080 80%);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: #808080;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 2.1;
}

.itens:before {
	content: "✀"
}

.imagem-beneficios {
	width: 53%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 15px 0 #B8860B;
	border: 2px solid #B8860B
}

.imagem-beneficios:hover {
	opacity: 0.5;
}

.video {
	width: 560px;
	margin: 2em auto;
	border: 2px solid #B8860B;
	box-shadow: 10px 10px 15px 0 #B8860B;
}